<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <audio controls="controls">
              Your browser does not support the <code>audio</code> element.
              <source src="static/music/{{filename}}.wav" type="audio/wav">
            </audio>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>


<div class="container gradient">
     
    <div class="player gradient">

        <a class="button gradient" id="play" href="" title=""></a>
        <a class="button gradient" id="mute" href="" title=""></a>
     
            <input type="range" id="seek" value="0" max=""/>
 
        <a class="button gradient" id="close" href="" title=""></a>
         
    </div><!-- / player -->
     
</div><!-- / Container-->